.__header {
  margin-top: -4rem;
  padding-top: 8rem;
  background-size: cover;
  background: linear-gradient(180deg, rgba(7, 3, 17, 0.808) 0%, #070311 100%), url('../../../public/assets/bg-header.png') lightgray 50% / cover no-repeat;
  background-position: top;
}
.__header h1 {
  line-height: 71px;
  font-size: 70px;
  letter-spacing: 3.5px;
  display: flex;
  flex-direction: column;
}

.__header p {
  width: 331px;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .__header {
    padding-top: 8rem;
    margin-top: -4rem;
  }
  .__header h1 {
    display: block;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .__header {
    margin-top: -7rem;
    padding-top: 9.5rem;
    min-height: 48rem;
  }
  .__header img {
    margin-top: -5rem;
  }
  .__header h1 {
    line-height: 93px;
    font-size: 100px;
    letter-spacing: 3.5px;
    width: 518px;
    display: flex;
    flex-direction: column;
  }
  .__header p {
    width: 441px;
  }
}
