._header{
    margin-top: -4rem;
    padding-top: 8rem;
    background-position: top;
    background-size: cover;
    background: linear-gradient(180deg, rgba(7, 3, 17, 0.822) 0%, #070311 100%), url('../../public/assets/bg-header.png') lightgray 50% / cover no-repeat;
}
._header h1{
    line-height: 71px;
    font-size: 70px;
    letter-spacing: 3.5px;
    display: flex;
    flex-direction: column;
}

._header p{
    width: 331px;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    ._header{
        padding-top: 8rem;
    margin-top: -4rem;
    
    }
    ._header h1{
        display: block;
    }
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    ._header{
    margin-top: -7rem;

    min-height: 48rem;

    }
    ._header img{
margin-top: -3rem;
    }
    ._header h1{
        line-height: 93px;
        font-size: 100px;
        letter-spacing: 3.5px;
        width: 518px;
        display: flex;
        flex-direction: column;
    }
    ._header p{
        width: 441px;
    }
 }