body {
    background-color: #212529;
}
#SSS:hover{
    background-color: blueviolet;
}
#SS:hover{
    background-color:gold;
}
#S:hover{
    background-color: darkred;
}
#A:hover{
    background-color: purple;
}
#B:hover{
    background-color: darkblue;
}
#C:hover{
    background-color: darkgreen;
}
#D:hover{
    background-color: grey;
}