
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Teko:wght@400;600;700&display=swap');


h1, h2, h3, h4, h5{
font-family: 'Teko', sans-serif;
font-weight: 700 !important;
}

.teko-font{
    font-family: 'Teko', sans-serif;
    font-weight: 400 I !important;
    letter-spacing: 1px;
}

button{
    font-family: 'Teko', sans-serif !important;
    font-weight: 400;
}

 p{
    font-family: 'Open Sans', sans-serif;
}


#UR:hover{
    background-color: cyan;
}
#SSS:hover{
    background-color: blueviolet;
}
#SS:hover{
    background-color:gold;
}
#S:hover{
    background-color: darkred;
}
#A:hover{
    background-color: purple;
}
#B:hover{
    background-color: darkblue;
}
#C:hover{
    background-color: darkgreen;
}
#D:hover{
    background-color: grey;
}